<!DOCTYPE html>
<html>

<head>
  <title>Honkai bilibili search helper</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@1.5.0/dist/vuetify.min.css"
    rel="stylesheet">
  <link rel="stylesheet" href="index.css">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<div id="app">
  <v-app>
    <v-content>
      <v-container grid-list-md text-xs-start>
        <v-layout>
          <v-flex xs10 offset-xs1 md8 offset-md2>
            <h1>Bilibili search generator</h1>
            <p>
              Chinese translations courtsey of
              <a href="https://www.youtube.com/channel/UCbXY6vNP0JzAkCdrWgjwvag">
                The Keebster</a>
              and their excellent
              <a href="https://docs.google.com/document/d/1PPZJ4s91tmEBh0Q6J26wbnFapCMioxShS0JhXPtZ4ec/edit">
                Chinese Memorial Glossary</a>.
            </p>
            <p>
              Want to know how this works? Not getting the results you want? Check out The Keebster's video:
              <a href="https://youtu.be/0RR5VR99fvk">
                How to browse Bilibili top scores without knowing Chinese!</a>
              for more information.
            </p>
            <p>Made by PaeP3nguin (Discord: paep3nguin#9170).</p>

            <v-layout align-center>
              <img class="valk-gif" src="aij2.gif">
              <span>Ai-chan says, "Only fill out as much as you need!"</span>
            </v-layout>

            <v-form>
              <h3 class="section-head">Boss</h3>
              <v-autocomplete
                v-model="selectedBoss"
                hint="Start typing to autocomplete."
                autofocus
                auto-select-first
                clearable
                persistent-hint
                :items="bosses">
              </v-autocomplete>

              <h3 class="section-head">Valkyries</h3>
              <p>Order matters! Choose the lead valk first.</p>
              <v-autocomplete
                v-model="selectedValks"
                hint="Start typing to autocomplete."
                multiple
                auto-select-first
                clearable
                persistent-hint
                @change="valkInput = ''"
                :search-input.sync="valkInput"
                :items="valks">
              </v-autocomplete>

              <h3 class="section-head">Modifiers</h3>
              <v-layout wrap>
                <v-flex grow xs4 md3 v-for="modifier in modifiers">
                  <v-checkbox
                    v-bind:key="modifier.name"
                    v-model="modifier.value"
                    :label="`${modifier.name}`"></v-checkbox>
                </v-flex>
              </v-layout>

              <h3 class="section-head">Score</h3>
              <v-combobox
                v-model="score"
                hint="All input accepted, or choose from the list."
                auto-select-first
                clearable
                persistent-hint
                :items="scores">
              </v-combobox>
            </v-form>

            <h2 class="section-head">Generated links</h2>
            <v-layout align-center>
              <img class="valk-gif" src="brn.gif">
              <span>Bronya works hard to instantly generate links as you type.</span>
            </v-layout>

            <p>Some bosses/valks go by multiple names, so try all links!</p>
            <p v-for="link in biliLinks">
              <a target="_blank" class="bili-link" :href="`${link}`">{{ link }}</a>
            </p>

            <h2 class="section-head">Changelog</h2>
            <ul>
              <li>2019/09/02 - Added EX <MAin></MAin></li>
              <li>2019/09/02 - Added MR-06X Hephaestus</li>
              <li>2019/08/19 - Added MHT-3 Pax</li>
              <li>2019/08/11 - Added AKA boss</li>
              <li>2019/08/10 - Added Void Drifter valk, Q-Singularis modifier</li>
            </ul>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@1.5.0/dist/vuetify.js"></script> -->

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@1.5.0/dist/vuetify.min.js"></script>

<script src="index.js"></script>

</html>