<!DOCTYPE html>
<html>

<head>
  <title>Honkai gear calculator</title>
  <!-- Vuetify dependencies -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="calc.css">

  <!-- <link rel="stylesheet" href="index.css"> -->
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<v-app id="app">
  <v-app-bar
    app
    color="indigo"
    clipped-left
    dark>
    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    <v-toolbar-title>Honkai gear calculator</v-toolbar-title>
  </v-app-bar>

  <v-navigation-drawer
    v-model="drawer"
    clipped
    app>
    <v-list dense>
      <v-list-item link>
        <v-list-item-action>
          <v-icon>mdi-home</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Home</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item link>
        <v-list-item-action>
          <v-icon>mdi-contact-mail</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Contact</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>

  <v-content>
    <v-container
      class="fill-height"
      fluid
      grid-list-md
      text-xs-start>
      <v-layout>
        <v-flex xs10 offset-xs1>
          <h1 class="mb-6">Honkai gear calculator</h1>

          <p class="mt-12">Made by PaeP3nguin (Discord: paep3nguin#9170). Bugs? Suggestions? Find me on the
            <a href="https://discord.gg/hi3">official global discord.</a>
          </p>

          <h2 class="mt-6 mb-3">Calculated multipliers</h2>

          <div v-for="f in FinalStats">
            <span class="font-weight-bold">{{ f }}:</span>
            <span>{{ calculationResults[f].toFixed(2) }}</span>
          </div>

          <v-slider
            label="Crit rate"
            class="mt-6"
            v-model="critRate"
            thumb-label="always"
            :thumb-size="24"
            min=0
            max=100></v-slider>

          <h3 class="mt-8">Enter new multiplier:</h2>

            <v-form
              ref="multiplierForm"
              @submit.prevent="submitMultiplier">
              <v-container>
                <v-row dense>
                  <v-col>
                    <v-text-field
                      ref="nameField"
                      label="Name"
                      v-model="multiplier.name"
                      :rules="nameRules"
                      autofocus
                      required>
                    </v-text-field>
                  </v-col>

                  <v-col>
                    <v-select
                      label="Type"
                      v-model="multiplier.type"
                      :items="multiplierTypes"
                      :rules="multiplierTypeRules"
                      required>
                    </v-select>
                  </v-col>

                  <v-col>
                    <v-text-field
                      type="number"
                      v-model.number="multiplier.value"
                      label="Percentage"
                      :rules="valueRules"
                      required>
                    </v-text-field>
                  </v-col>

                  <v-col cols=1>
                    <v-btn
                      block
                      color="primary"
                      type="submit">
                      Add
                    </v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>

            <v-data-table
              v-model="selectedMultipliers"
              :headers="multiplierTableHeaders"
              :items="multipliers"
              item-key="id"
              hide-default-footer
              show-select>
              <template v-slot:item.value="{item}">
                <td>{{ item.value }}%</td>
              </template>

              <template slot="no-data">
                Add some multipliers!
              </template>
            </v-data-table>

            <v-btn
              class="mt-8"
              color="error"
              :disabled="selectedMultipliers.length == 0"
              @click="removeSelectedMultipliers">
              Remove selected
            </v-btn>

            <h2 class="mt-12 mb-3">How do gear bonuses work?</h2>
            <p>
              In Honkai, your overall damage boost is calculated by adding all the bonuses of the same type and
              multiplying by all the different types. This is why mixing different types of bonuses together is
              effective.
              The different multiplier categories are listed below, with examples:
            </p>

            <ul>
              <li>Physical Damage Dealt -
                <a href="https://honkaiimpact3.gamepedia.com/Marco_Polo">Marco Polo T</a>
              </li>
              <li>Physical Damage Taken -
                <a href="https://honkaiimpact3.gamepedia.com/Gustav_Klimt">Gustav Klimt 2-set</a>
              </li>
              <li>Elemental Damage Dealt -
                <a href="https://honkaiimpact3.gamepedia.com/Nuwa">Nuwa M</a>
              </li>
              <li>Elemental Damage Taken -
                <a href="https://honkaiimpact3.gamepedia.com/Thales">Thales M (stacks only)</a>,
                <a href="https://honkaiimpact3.gamepedia.com/Phoenix#Special">Phoenix SS rank ability "Oriole"</a></li>
              <li>Total Damage Dealt -
                <a href="https://honkaiimpact3.gamepedia.com/Jingwei">Jingwei T</a>
              </li>
              <li>Total Damage Taken -
                <a href="https://honkaiimpact3.gamepedia.com/Isaac_Newton">Newton B</a>
              </li>
              <li>Typing Bonus - BIO > MECH > PSY, QUA > QUA</li>
              <li>Dirac Weather Typing Bonus / QS Evadion Boost</li>
            </ul>

            <p class="mt-4">
              Note that bonuses that only apply to specific types of attacks, like
              <a href="https://honkaiimpact3.gamepedia.com/Sakamoto_Ryoma">Sakamoto Ryoma</a> or bonuses that only apply
              to one element type are not separate multipliers. Since the last two are unrelated to this gear, this
              calculator does not attempt to calculate those.
            </p>

            <h3 class="mt-4">What about critical hits?</h3>
            <p>
              The combination of crit rate and crit damage can be thought of as another multiplier, but only forphysical
              damage. Critical damage starts at 100% and this is already factored in, so only include additional boosts.
              Be sure to convert from CRT to critical rate with the formula: crit rate = CRT/(Valk Level * 5 + 75). At
              max level, 4.75 CRT is equal to 1% crit rate.
            </p>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</v-app>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script> -->

<script src="calc.js"></script>

</html>